<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/css/base.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css"/>
    <script src="../static/js/base.js" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit/lib/xterm-addon-fit.min.js" defer></script>

    <script src="../static/js/terminal.js" defer></script>

    <title>Command Run</title>
</head>
<body>
<header>
    <div>hidden</div>
    <h1 class="page-title">Web Button Command Run</h1>
    <button id="open-menu-button" class="round-button">
        <img width="100%" src="../static/vectors/arrow.svg" alt="Select command"/>
    </button>
</header>
<div id="main-section">
    <div id="terminal-container" class="terminal-container">
        <div>
            <div class="console-top-buttons">
                <button id="close-button" class="normal-button red-button">Close</button>
                <button id="restart-button" class="normal-button">Restart</button>

                <p id="command-up-terminal" class="command-text command-name" onWheel="smoothHorizontalScroll(event)">
                    command name here
                </p>
            </div>
            <div id="terminal"></div>
        </div>
    </div>
    <div class="command-list-container">
        <ul id="command-list" class="command-list">
            <li>
                <button class="round-button" style="width: 50%">
                    <img width="100%" src="../static/vectors/plus.svg" alt="Add new command"/>
                </button>
                <p class="command-text command-name" onWheel="smoothHorizontalScroll(event)">
                    Add new
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="big-run-button-container">
</div>
<div id="using-console-indicator" class="using-console-indicator">
    using sh <img src="../static/vectors/console-bash.svg" alt=""/>
</div>
<div id="right-menu" class="right-menu hidden">
    <button id="save-config-button" class="normal-button">
        Save config to json
    </button>
    <button id="import-config-button" class="normal-button">
        Import config
    </button>
<!--    <button id="save-settings-button" class="normal-button">-->
<!--        Save settings-->
<!--    </button>-->
</div>
</body>
</html>