body {
    background-color: #242326;
    color: white;
    margin: 0;
    overflow: hidden;
}

svg, img {
    -webkit-user-select: none;
    user-select: none;
}

button {
    cursor: pointer;
    border: 0;
    background-color: #6B7FD7;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: #4d5b9a;
    color: white;
}

button.red-button {
    background-color: #E85D75;
}

button.red-button:hover {
    background-color: #ab4456;
}

.round-button {
    border-radius: 100%;
}

.normal-button {
    width: fit-content;
    font-size: 1.3em;
    padding: 12px 25px;
    border-radius: 5px;
}

header {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > :first-child {
    margin-right: auto;
    visibility: hidden;
}
header > :last-child {
    margin-left: auto;
}

.page-title {
    max-width: 50%;
    text-align: center;
}

header button {
    z-index: 100000;
    width: 50px;
    height: 50px;
    padding: 15px;
    rotate: 0deg;
    aspect-ratio: 1;
}

header button > img {
    transition: 0.3s;
}

header button:hover > img {
    rotate: 90deg;
}

.big-run-button-container {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    visibility: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.big-run-button-container button {
    width: 200px;
    height: 200px;
    padding: 40px;
}

.command-text {
    font-family: monospace;
    font-weight: 200;
    font-size: 1.3em;
    background-color: #313034;
    padding: 5px 10px;
    field-sizing: content;
    border: 0;
    color: white;
    outline: none!important;
}

input[type="text"].command-text {
    font-family: monospace;
    font-weight: 200;
    font-size: 1.3em;
}

.command-name {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: rgba(49, 48, 52, 0.6);
    border-radius: 3px;
    padding: 5px 10px;
    field-sizing: content;
    border: 0;
    color: white;
    outline: none!important;
}

input[type="text"].command-name {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

.command-info {
    text-align: center;
    margin-top: 15px;
}

.command-info .command-text {
    margin-top: 5px;
    max-width: 500px;
}

.command-list-container {
    z-index: 3;
    width: 100%;
    margin-bottom: 12px;
}

.command-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}

.command-list li {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.command-list li button {
    width: 80px;
    height: 80px;
    padding: 15px;
}

.command-list li button:not(.selected) img {
    rotate: -90deg;
}

.command-list li .command-text {
    font-size: 100%;
    max-width: 90px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
}

.command-list li .command-text::-webkit-scrollbar {
    display: none;
}

.right-menu {
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px;
    transition: 0.3s;
    position: absolute;
    top: 0;
    height: 100%;
    width: 290px;
    right: 0;
    background: rgba(33, 33, 33, 0.8);
}

.right-menu.hidden {
    right: -350px;
}

.right-menu button {
    margin-top: 10px;
}

.right-menu button:first-child {
    margin-top: 30vh;
}

.right-menu button:last-child {
    margin-top: 20vh;
}

.terminal-container {
    transition: all 0.5s ease-in-out;
    transform: scale(1);
    visibility: unset;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.terminal-container > div {
    width: 1400px;
    max-width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.console-top-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.console-top-buttons .command-text {
    min-width: 30vw;
    font-size: 30px;
    height: auto;
    white-space: nowrap;
    margin: 0;
    flex-grow: 2;
    field-sizing: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.console-top-buttons .command-text::-webkit-scrollbar {
    display: none;
}

#terminal {
    margin-top: 20px;
    flex-grow: 1;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1e1e1e;
    padding: 12px;
    box-sizing: border-box;
}

.xterm {
    border-radius: 10px;
    padding: 10px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: #2c2c2c;
    border-radius: 4px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: #6B7FD7FF;
    border-radius: 4px;
}

::selection {
    background: #6B7FD7FF;
    color: white;
}

#main-section {
    height: calc(100vh - 3.34em - 30px - 22px);
    display: flex;
    flex-direction: column;
}

body.terminal-opened  .big-run-button-container {
    transform: scale(0);
    visibility: hidden;
}

body:not(.terminal-opened)  .terminal-container {
    transform: scale(0);
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    #main-section {
        height: calc(100vh - 7.34em - 30px - 22px);
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    #main-section {
        height: calc(100vh - 14.34em - 30px - 22px);
        display: flex;
        flex-direction: column;
    }
}

.using-console-indicator {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    color: #ffffff;
    opacity: 0.5;
}

.using-console-indicator img{
    height: 20px;
}